<!-- Header -->
  <header id="header">
    <a href="{{ site.url }}/" class="image avatar"><img src="{{ site.url }}/images/avatar.jpg" alt="" /></a>
    <h1>{{ site.title | markdownify | remove: '<p>' | remove: '</p>' }}</h1>
    <p>{{ site.description | markdownify | remove: '<p>' | remove: '</p>' }}</p>

  <ul>
      <li><a href="{{site.url}}/cv.html">Curriculum Vitae</a></li>
      <li><a href="{{site.url}}/teaching_philosophy.html">Teaching Philosophy</a></li>
      <li><a href="{{site.url}}/projects.html">Projects</a></li>
      <li><a href="{{site.url}}/courses.html">Courses</a></li>
      <li><a href="{{site.url}}/research.html">Research</a></li>
      <li><a href="http://robbiehott.com">Personal</a></li>
  </ul>
  
  </header>
