<!-- Header -->
  <header id="header">
    <h1>{{ site.title | markdownify | remove: '<p>' | remove: '</p>' }}</h1>
    <p>{{ site.description | markdownify | remove: '<p>' | remove: '</p>' }}</p>

  <ul>
      <li><a href="{{site.url}}/index.html">Home</a></li>
      <li><a href="{{site.url}}/slides/schedule.html">Schedule</a></li>
      <li><a href="{{site.url}}/resources.html">Resources</a></li>
      <li><a href="{{site.url}}/homework">Homeworks</a></li>
      <li><a href="{{site.url}}/office-hours.html">Office Hours</a></li>
      <li><a href="https://piazza.com/class/kyn6o0mutdl41e">Piazza</a></li>
      <li><a href="https://collab.its.virginia.edu/portal/site/2392bc0f-812c-494a-8cf8-23666cf344fe">Collab site</a></li>
      
  </ul>
  
  </header>
